.Button {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  width: 100px;
  height: 100px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 0.15em;
  font-size: 30px;
  margin: 5px;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s;
}

button.Button:hover {
  background-color: #d5e009;
  color: #000;
}

.Button.number {
  color: #fff;
  background-color: rgb(10, 26, 49);
  border: 0.1em solid #fff;
}

.Button.operation {
  color: #fff;
  background-color: rgb(13, 108, 4);
  border: 0.1em solid #fff;
}

.Button.special {
  font-size: 22px;
  flex-basis: 100%;
  color: #fff;
  background-color: rgb(8, 65, 74);
  border: 0.1em solid #fff;
}
