.Display-component-container {
  width: 100%;
  min-height: 65px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #222731;
  border: 0.2em solid #fff;
  margin-bottom: 50px;
  overflow: auto;
  transition: all 0.2s;
}

.Display-component {
  font-family: "Rajdhani", sans-serif;
  font-size: 65px;
  font-weight: 600;
  color: #fff;
  padding: 0 30px;
  overflow: auto;
  display: flex;
  flex-flow: column;
}

.Display-component-preview {
  text-align: right;
  font-size: 30px;
  color: #aaa;
}
