* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  height: 100vh;
  background-color: #222731;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-body {
  width: 500px;
  background-color: #fff;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  width: 100%;
  display: flex;
}

.numeric-button-container {
    text-align: center;
}

.special-button-container {
  width: 92%;
  display: flex;
  padding-top: 10px;
}
